.above-entries {

    display: flex;
}

.unused {

    flex-basis: 79.5%;
}

.filter-results {

    flex-basis: 20.5%;
    background-color: #7685A2;
    display: none;
    border-radius: 0 0 0 8px;
}
.filter-results div {

    padding: 18px 12px;
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
}
.filter-results div:last-child {

    border-bottom: none;
}