/* Header */
header {

    display: flex;
    background-color: #AA9539;
    justify-content: space-between;
    padding: 24px 18px;
}
header h2, header div {

    flex-basis: 20%;
}



header h2 {

    text-align: center;
    color: white;
    padding-top: 6px;
    font-size: 26px;
}



header .search-all input {
    
    text-align: center;
    font-size: 18px;
    width: 70%;
    height: 100%;
    outline: none;
    padding: 12px 8px 12px 24px;
    color:  #4E628A;
    border-radius: 0 6px 6px 0;
}
header .search-all span {

    width: 20%;
    border-radius: 6px 0 0 6px;
    background-color: #7685A2;
    color: white;
    /* z-index: 999; */
    text-align: center;
    font-size: 22px;
    line-height: 30%;
    padding: 12px 18px;
}



header .btn {

    font-size: 18px;
    width: 80%;
    padding: 12px 18px;
    border-radius: 6px;
}
/* Header Drops */
div.drop-btn {

    position: relative;
}
ul.drop {

    display: none;
    position: absolute;
    z-index: 9999;
    background-color: #4E628A;
    border-radius: 6px;
    width: 80%;
}
ul.drop li {
    
    font-size: 14px;
    padding: 12px;
    text-align: center;
    color: white;
    border-top: 1px solid white;
    cursor: pointer;
}
ul.drop li:first-child {
    
    border-top: none;
}
ul.drop li .drop-input {

    display: none;
    margin-top: 12px;
}
ul.drop #radio-btns-drop .drop-input .radio-btns {

    display: flex;
    margin-bottom: 12px;
}
ul.drop li#radio-btns-drop .drop-input .radio-btns div {

    flex-basis: 50%;
    position: relative;
}
ul.drop li#radio-btns-drop .drop-input .radio-btns div span {
    
    position: absolute;
    top: 4px;
    left: 26px;
}
ul.drop li div input {

    margin-right: 6px;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    padding: 6px;
    color:  #7685A2;
    display: block;
}




.search-drop-date {

    position: relative;
}
.search-drop-date  .drop-date {
    
    display: none;
    position: absolute;
    width: 80%;
    background-color: #4E628A;
    color: white;
    border-radius: 6px;
}
.search-drop-date .drop-date .drop-date_header {

    padding: 12px 0;
    display: flex;
    justify-content: space-between;
}
.search-drop-date .drop-date .date-radio-btns .date-radio-btn {

    margin-bottom: 12px;
}
.search-drop-date .drop-date button {

    display: block;
    margin: 0 auto 12px;
} 
.search-drop-date .drop-date input[type='date']:first-child {

    border-radius: 0 4px 4px 0;
}
.search-drop-date .drop-date input[type='date']:last-child {

    border-radius: 4px 0 0 4px;
}