body {
    height: 100vW;
    padding: 0;
    margin: 0;
}
.main-container {
    display: flex;
    height: 100%;
}
main {

    flex-basis: 100%;
}


.general-invoice-container {
    display: none;
}
.single-invoice-container {
    display: none;
}
.bulk-invoice-container {
    display: none;
}