* {
    box-sizing: border-box;
}
body {
    height: 100vW;
    padding: 0;
    margin: 0;
}
.main-container {
    display: flex;
    height: 100%;
}



/* Nav-Left */
nav {

    background-color: #4E628A;
    display: flex;
    flex-direction: column;
    padding: 24px 18px;
    position: relative;
}
.nav-left__icon-container {

    cursor: pointer;
    color: white;
    margin-bottom: 24px;
    text-align: center;
    transition: 0.4s;
}
.nav-left__icon-container i {

    font-size: 40px;
    margin-bottom: 12px;
}
.nav-left__icon-container span {
    
    display: block;
}
.nav-left__icon-container:hover {

    color: #AA9539;
}
.nav-left__icon-container:focus {

    color: #AA9539;
}


.nav-btn {

    transition: .4s;
}
.nav-btn:hover {

    color: #AA9539;
}



ul.invoice-bar {

    display: none;
    position: absolute;
    top : 100px;
    left: 119.17px;
    background-color: #4E628A;
    border-radius: 0 0 6px 0;
}
li.invoice-bar_item {

    color: white;
    white-space: nowrap;
    transition: .4s;
    padding: 18px 24px;
    cursor: pointer;
}
li.invoice-bar_item:hover {

    color: #AA9539;
}
div.invoice-bar_item_divider {

    width: 60%;
    background-color: white;
    margin: 0 auto;
    height: 3px;
    border-radius: 2px;
}

