* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {

    margin: 0;
    padding: 0;
}
ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}
input {

    border: none;
}



.btn {
    
    cursor: pointer;
    border: none;
}
.btn i {

    color: white;
}
.btn-blue-light {

    background-color: #7685A2;
    color: white;
    border: 1px solid transparent;
}
.btn-blue-dark {

    background-color: #061940;
    color: white;
}
.btn-yellow {

    background-color: #AA9539;
    color: white;
}



.btn-small {

    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: none;
}

